---
import MainLayout from "../components/MainLayout.astro";

const name = "Ben Davies";
const hasGraduated = new Date() >= new Date("2026-04-16T17:00:00+12:00");
const personalDescription = hasGraduated
  ? "Software Engineer"
  : "Software Engineering Graduand";

const profileLinks = [
  {
    label: "GitHub profile",
    username: "Benjamin-Davies",
    href: "https://github.com/Benjamin-Davies",
    // from https://github.com/primer/octicons
    iconPath:
      "M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z",
  },
  {
    label: "LinkedIn profile",
    username: "Benjamin Davies",
    href: "https://www.linkedin.com/in/benjamin-davies-657234226/",
    // from the GitHub website
    iconPath:
      "M14.5455 0H1.45455C0.650909 0 0 0.650909 0 1.45455V14.5455C0 15.3491 0.650909 16 1.45455 16H14.5455C15.3491 16 16 15.3491 16 14.5455V1.45455C16 0.650909 15.3491 0 14.5455 0ZM5.05746 13.0909H2.912V6.18764H5.05746V13.0909ZM3.96291 5.20073C3.27127 5.20073 2.712 4.64 2.712 3.94982C2.712 3.25964 3.272 2.69964 3.96291 2.69964C4.65236 2.69964 5.21309 3.26036 5.21309 3.94982C5.21309 4.64 4.65236 5.20073 3.96291 5.20073ZM13.0938 13.0909H10.9498V9.73382C10.9498 8.93309 10.9353 7.90327 9.83491 7.90327C8.71855 7.90327 8.54691 8.77527 8.54691 9.67564V13.0909H6.40291V6.18764H8.46109V7.13091H8.49018C8.77673 6.58836 9.47636 6.016 10.52 6.016C12.6924 6.016 13.0938 7.44582 13.0938 9.30473V13.0909V13.0909Z",
  },
  {
    label: "email address",
    username: "bentendavies@gmail.com",
    href: "mailto:bentendavies@gmail.com",
    // from https://github.com/primer/octicons
    iconPath:
      "M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2ZM1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809v6.442Zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z",
  },
];

const sections = [
  {
    imageSrc: "images/findapest-light.webp",
    darkImageSrc: "images/findapest-dark.webp",
    imageDimensions: { width: 270, height: 480 },
    imageAlt: "Screenshot of Find-A-Pest",
    title: "Find-A-Pest",
    subtitle: "for the University of Canterbury",
    projectLink: "https://www.findapest.nz/",
    caption: "Cloud infrastructure migration",
    badges: ["Couchbase", "Postgres", "Kubernetes", "AWS"],
  },
  {
    imageSrc: "images/bugz.webp",
    imageDimensions: { width: 480, height: 270 },
    imageAlt: "Screenshot of BUGZ",
    title: "BUGZ",
    subtitle: "for the University of Canterbury",
    projectLink: "https://bugz.ento.org.nz/",
    caption: "Rewrite with modern technologies",
    badges: ["C#", "Angular", "Postgres", "DigitalOcean"],
  },
  {
    imageSrc: "images/zed-light.webp",
    darkImageSrc: "images/zed-dark.webp",
    imageDimensions: { width: 480, height: 270 },
    imageAlt: "Screenshot of Adwaita Pastel theme for Zed",
    title: "Zed Editor",
    subtitle: "for Open Source",
    projectLink: "https://zed.dev/",
    githubLink:
      "https://github.com/zed-industries/zed/pulls?q=is%3Apr+author%3ABenjamin-Davies",
    themeLink: "https://github.com/Benjamin-Davies/zed-theme-adwaita",
    caption: "Various Vim mode commands and a color-theme remix",
    badges: ["Rust"],
  },
  {
    imageSrc: "images/plantuml.webp",
    imageDimensions: { width: 480, height: 270 },
    imageAlt: "Screenshot of PlantUML ER Diagram",
    title: "PlantUML",
    subtitle: "for Open Source",
    projectLink: "https://plantuml.com/er-diagram",
    githubLink:
      "https://github.com/plantuml/plantuml/pulls?q=is%3Apr+author%3ABenjamin-Davies",
    caption: "Support for Chen entity-relationship diagrams",
    badges: ["Java"],
  },
];
---

<MainLayout {name}>
  <div
    class="container p-12 md:mx-auto md:my-12 md:max-w-180 md:bg-gray-50 md:shadow-md md:dark:bg-gray-900"
  >
    <main class="border-b-8 border-b-blue-500 pb-6">
      <header class="leading-none text-blue-500">
        <div
          class="relative mx-auto mt-0 mb-6 h-32 w-32 overflow-clip rounded-full sm:mx-0 md:float-right md:mx-8 md:-my-3"
        >
          <img
            class="absolute top-0 right-0 bottom-0 left-0"
            src="https://avatars.githubusercontent.com/u/25046874?v=4"
            alt="photograph of me"
          />
          <div
            class="inset-shadow-md absolute top-0 right-0 bottom-0 left-0 rounded-full"
          >
          </div>
        </div>
        <h1 class="font-regular text-xxl">{name}</h1>
        <h3 class="text-l mt-5 font-light italic">
          {personalDescription}
        </h3>
      </header>
      <nav>
        <ul class="mt-8 list-none p-0 leading-none">
          {
            profileLinks.map((link) => (
              <li class="mt-1 mr-6 inline-block last:mr-0">
                <a
                  href="https://github.com/Benjamin-Davies"
                  class="text-s text-gray-900 dark:text-gray-200"
                  aria-label={`Link to my ${link.label}`}
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="16"
                    height="16"
                    class="mr-1.5 mb-0.5 inline-block align-middle"
                    aria-hidden="true"
                  >
                    <path
                      d={link.iconPath}
                      class="fill-gray-900 dark:fill-gray-200"
                    />
                  </svg>
                  {link.username}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <p>
        I am a {personalDescription} who is curious, principled, loves problem solving
        and has an eye for detail. My skills extend far beyond the classroom. I have
        years of experience building full-stack applications and have made significant
        contributions to open source.
      </p>
      <p>
        Outside of work I am intrigued by a variety of things &ndash; from
        computers and mathematics to music and phonology. I am studious and find
        a deep satisfaction in seeing a job well done.
      </p>
    </main>
    {
      sections.map((section) => (
        <section>
          <picture>
            {section.darkImageSrc && (
              <source
                srcset={section.darkImageSrc}
                media="(prefers-color-scheme: dark)"
              />
            )}
            <img
              src={section.imageSrc}
              width={section.imageDimensions.width}
              height={section.imageDimensions.height}
              alt={section.imageAlt}
            />
          </picture>
          <h2>
            {section.title}
            <span class="small">{section.subtitle}</span>
            {section.projectLink && (
              <a
                href={section.projectLink}
                aria-label={`Link to ${section.title}`}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path d="M3.75 2h3.5a.75.75 0 0 1 0 1.5h-3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h8.5a.25.25 0 0 0 .25-.25v-3.5a.75.75 0 0 1 1.5 0v3.5A1.75 1.75 0 0 1 12.25 14h-8.5A1.75 1.75 0 0 1 2 12.25v-8.5C2 2.784 2.784 2 3.75 2Zm6.854-1h4.146a.25.25 0 0 1 .25.25v4.146a.25.25 0 0 1-.427.177L13.03 4.03 9.28 7.78a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l3.75-3.75-1.543-1.543A.25.25 0 0 1 10.604 1Z" />
                </svg>
              </a>
            )}
            {section.githubLink && (
              <a href={section.githubLink} aria-label="Link to the GitHub">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z" />
                </svg>
              </a>
            )}
            {section.themeLink && (
              <a href={section.themeLink} aria-label="Link to the theme">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z" />
                </svg>
              </a>
            )}
          </h2>
          <p>
            {section.caption} using
            {section.badges.map((badge) => (
              <span class="badge">{badge}</span>
            ))}
          </p>
        </section>
      ))
    }
    <p>
      I've also worked on projects using Proxmox VE, Openflow (for Allied
      Telesis Labs), Android and Java's C++ FFI (JNI, for the University of
      Canterbury). However, they were for internal R&D so I opted not to post
      them here.
    </p>
  </div>
</MainLayout>
